
body {
    padding: 0;
    margin: 0; 
}

header {
    .nav-bar-container{
        .nav-bar {
                background-color: white;
                height: 140px;
            }

            .nav-bar-top {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 70%;

                h1 {
                    align-self: center;
                    text-transform: capitalize;
                    font-size: 60px;
                    color: blue;
                    position: relative;
                    right: 7%;
                }
            }

            .nav-bar-bottom {
                height: 30%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;

                a {
                    display: flex;
                    justify-content: center;
                    text-transform: capitalize;
                    text-decoration: none;
                    color: black;
                    padding: 10px;
                    background-color: gray;
                    &:hover {
                        background-color: rgb(68, 68, 68);
                    }
                }
    
                .search {
                    text-transform: capitalize;
                    border-bottom: 1px solid grey;
                    padding: 10px;
                    border: none;
                }
            }
        }
    }

main {
    display: flex;
    justify-content: center;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    
    .latest-blog-indigator {
        background-color: blue;
        width: 150px;
        height: 30px;
        position: absolute;
        margin-top: -30px;
        margin-left: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 10px 10px 0 0;
        text-transform: capitalize;
    }

    .blog-container {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
        padding: 20px 10px 20px 10px;
        margin-top: 5%;

        .blog {
            background-color: white;

            .blog-img {
                width: 100%;
            }
            
            .blog-title {
                text-align: center;
                text-transform: capitalize;
            }

            .short-description {
                padding: 0 10px 0 10px;
            }

            .day-added {
                display: flex;
                justify-content: right;
                padding: 0 20px 0 20px;
            }
        }
    }
}

footer {
    background-color: white;

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .footer-top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            
            .social-networks {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    height: 50px;
                    width: 50px;
                    &:hover {
                        background-color: black;
                        i {
                            color: white;
                        }
                    }
                    
                    a {
                        i {
                            font-size: 25px;
                            color: black;
                        }
                   }

            }
        }

        .footer-bottom {
            p {
                text-align: center;
                color: black;
            }
        }
    }
}