body {
    padding: 0;
    margin: 0; 
}

header {
    .nav-bar-container{
        .nav-bar {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgb(88, 88, 88);

            img {
                display: flex;
                justify-content: center;
                position: absolute;
                width: 250px;
                margin-left: 11%;
                margin-top: 3%;
                padding: 10px;
            }

            .nav-bar-top {
                display: flex;
                align-items: flex-start;
                height: 70%;

                h1 {
                    margin-top: 5%;
                    margin-left: 33%;
                    text-transform: capitalize;
                    font-size: 50px;
                    color: white;
                }
            }

            .nav-bar-bottom {
                height: 30%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;

                a {
                    display: flex;
                    justify-content: center;
                    text-transform: capitalize;
                    text-decoration: none;
                    color: white;
                    padding: 10px;
                    &:hover {
                        background-color: gray;
                    }
                }
    
                .search {
                    text-transform: capitalize;
                    border-bottom: 1px solid grey;
                    padding: 10px;
                    border: none;
                    margin-bottom: 1px;
                }
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;

    .main-container {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 300px 300px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
        padding: 20px;

        .blog {
            background-color: grey;

            img {
                width: 20%;
            }
            
            h2 {
                text-align: center;
                text-transform: capitalize;
            }

            p {
                padding: 10px;
            }
        }
    }
}

footer {
    background-color: gray;
    padding: 20px 0 20px 0;

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .footer-top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
        }

        .footer-bottom {
            p {
                text-align: center;
                color: white;
            }
        }
    }
}