.about-container {
    padding: 0 10px 0 10px;

    .about {
        display: grid;
        grid-template-columns: 1024px;
        min-height: 350px;
        background-color: white;
        margin-bottom: 50px;
        padding: 10px;
        @media screen and (max-width: 1024px) {
            grid-template-columns: 100%;
        }

        h1 {
            text-transform: capitalize;
            font-size: 50px;
            display: flex;
            justify-content: center;
        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 30%;
                object-fit: cover;
                @media screen and (max-width: 550px) {
                    width: 40%;
                }
                @media screen and (max-width: 350px) {
                    width: 50%;
                }
            }
        }

        .about-paragrafh-1 {
            text-align: center;
        }

        .about-paragrafh-2 {
        
        }

        .about-paragrafh-3 {
            text-align: center;
        }
    }
}