.blog-page-container {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
    @media screen and (max-width: 1050px) {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .blog-page {
        width: 1050px;
        min-height: 200px;
        background-color: #ffffff;
        @media screen and (max-width: 1050px) {
            width: 100%;
        }

        .image {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .title {
            display: flex;
            justify-content: center;
            text-transform: capitalize;
        }

        .content {
            padding: 10px;
        }

        .blog-bottom {
            margin: 0;
            display: grid;
            grid-template-columns: 50% 50%;
            flex-direction: row;
            display: flex;
            justify-content: right;
            width: 1050px;
            padding-bottom: 10px;
            @media screen and (max-width: 1050px) {
                width: 100%;
            }

            @media screen and (max-width: 300px) {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
            }
            
            .buttons {
                display: flex;
                flex-direction: row;
                margin: 0 !important;
                justify-content: flex-start;
                align-items: flex-start;
                width: 50%;
                padding: 0 0 0 10px;

                .edit-btn-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
    
                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 30px;
                        border: none;
                        background-color: black;
                        color: #ffffff;
                        text-transform: capitalize;
                        text-decoration: none;
                        &:hover {
                            background-color: #383838;
                            font-weight: bold;
                            transition: 0.5s;
                            transform: scale(1.1);
                        }
                    }
                }


                form {
                    display: flex;
                    justify-content: start;
                    align-items: flex-end;
                    width: 50%;
    
                    .delete-btn-container {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        padding:0 0 0 10px;
                        column-gap: 10px;
        
                        .btn {
                            width: 100px;
                            height: 30px;
                            border: none;
                            background-color: black;
                            color: #ffffff;
                            text-transform: capitalize;
                            &:hover {
                                background-color: #383838;
                                font-weight: bold;
                                transition: 0.5s;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }


            .day-created-container {
                margin: 0 !important;
                display: flex;
                justify-content: end;
                align-items: flex-end;
                width: 50%;
                padding: 0 10px 0 0;
    
                .day-created {
                    display: flex;
                    align-items: center;
                    padding: 0 10px 0 10px;
                    height: 30px;
                    color: #000000;
                }
            }
            


            
        }
    }
}