.blog-page-container {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
    @media screen and (max-width: 1050px) {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .blog-page {
        width: 1050px;
        min-height: 200px;
        background-color: #ffffff;
        @media screen and (max-width: 1050px) {
            width: 100%;
        }

        .image {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .title {
            display: flex;
            justify-content: center;
            text-transform: capitalize;
            padding: 0 20px 0 20px;
        }

        .content {
            padding: 10px;
        }

        .blog-bottom {
            margin: 0;
            display: grid;
            grid-template-columns: 50% 50%;
            flex-direction: row;
            display: flex;
            justify-content: right;
            width: 1050px;
            padding-bottom: 10px;
            @media screen and (max-width: 1050px) {
                width: 100%;
            }

            @media screen and (max-width: 345px) {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
            }
            
            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                width: 50%;
                gap: 10px;
                padding: 0 0 0 10px;
                @media screen and (max-width: 345px) {
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px 0 10px;
                }

                .edit-btn-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    @media screen and (max-width: 345px) {
                        display: flex;
                        justify-content: center;
                        padding: 0px;
                    }

                    .btn-container {
                        display: flex;
                        justify-content: center;

                        .btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100px;
                            height: 30px;
                            border: none;
                            background-color: black;
                            color: #ffffff;
                            text-transform: capitalize;
                            text-decoration: none;
                            &:hover {
                                background-color: #383838;
                                font-weight: bold;
                                transition: 0.5s;
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                form {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    @media screen and (max-width: 345px) {
                        display: flex;
                        justify-content: center;
                        padding: 0px;
                    }
    
                    .delete-btn-container {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        column-gap: 10px;
        
                        .btn {
                            width: 100px;
                            height: 30px;
                            border: none;
                            background-color: black;
                            color: #ffffff;
                            text-transform: capitalize;
                            &:hover {
                                background-color: #383838;
                                font-weight: bold;
                                transition: 0.5s;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            .day-created-container {
                margin: 0 !important;
                display: flex;
                justify-content: end;
                align-items: flex-end;
                width: 50%;
                padding: 0 10px 0 0;
                @media screen and (max-width: 345px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px 0 10px;
                }
                
                .day-created {
                    display: flex;
                    align-items: center;
                    padding: 0 10px 0 10px;
                    height: 30px;
                    color: #777777;
                    font-size: 	16px;
                    font-weight: 900;
                }
            }
        }
    }
}