.create-blog-container {
    width: 600px;
    min-height: 580px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 10px;

    .create-blog {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 20px 0 20px;
        background-color: #ffffff;
        row-gap: 10px;
        
        h2 {
            display: flex;
            align-self: center;
            text-transform: capitalize;
        }

        input[type=file] {
            border: none;
            padding: 0px;
        }

        input[type=file]::file-selector-button { //input button "Choose File" styling
            padding: 3px 10px 3px 10px;
            width: 100px;
            background-color: #000000;
            color: #FFFFFF;
            outline: none;
            border: none;
            &:hover {
                background-color: #383838;
                font-weight: bold;
            }
        }

        label {
            display: flex;
            align-items: flex-start;
            text-transform: capitalize;
        }

        .text-content-label {
            margin-bottom: -15px;
        }
        
        input {
            width: 98%;
            padding-right: 1.5%;
            border: 1px solid #949494;
            outline: none;
            padding: 5px;
        }

        .text-editor {
            display: flex;
            flex-direction: row;
            margin-bottom: -17px;
            gap: 5px;
        }

        textarea {
            width: 98%;
            padding-right: 1.5%;
            border: 1px solid #949494;
            outline: none;
            resize: vertical;
        }

        

        button {
            width: 100%;
            text-transform: capitalize;
            background-color: #000000;
            color: #ffffff;
            height: 35px;
            border: none;
            margin-top: 10px;
            margin-bottom: 10px;
            &:hover {
                background-color: #383838;
                font-weight: bold;
            }
        }
    }
}