.container-login {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 280px;
    padding: 10px;
    margin-bottom: 50px;
    .login {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 90%;
        padding: 0 20px 0 20px;
        row-gap: 10px;

        h2 {
            display: flex;
            justify-content: center;
            text-transform: capitalize;
        }

        label {
            text-transform: capitalize;
        }

        input {
            outline: none;
        }

        button {
            width: 100%;
            text-transform: capitalize;
            background-color: black;
            color: white;
            border: none;
            height: 30px;
            margin-top: 10px;
            &:hover {
                background-color: rgb(56, 56, 56);
                font-weight: bold;
            }
        }
    }
}