main {
    display: flex;
    justify-content: center;

    .blog-container {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-column-gap: 20px;
        grid-row-gap: 5px;
        justify-items: stretch;
        align-items: stretch;
        padding: 10px;
        margin-bottom: 50px;
        @media screen and (max-width: 1050px) {
            grid-template-columns: 48.5% 48.5%;
            display: grid;
            float: right;
        }

        @media screen and (max-width: 760px) {
            grid-template-columns: 100%;
            display: grid;
            float: right;
        }

        .link-wrap {
            text-decoration: none;
            color: black;
            
            .blog {
                background-color: #ffffff;
                &:hover {
                    transition: 0.5s;
                    transform: scale(1.1);
                    border: 1px solid #000000;
                }
                
                .blog-img-container {
                    background: #575757;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    
                    .blog-img {
                        width: 100%;
                        aspect-ratio: 3/2;
                        object-fit: contain;
                    }
                }
                
                .blog-title {
                    text-align: center;
                    text-transform: capitalize;
                }
    
                .short-description {
                    padding: 0 10px 0 10px;
                }
    
                .day-added {
                    display: flex;
                    justify-content: right;
                    padding: 0 20px 10px 20px;
                }
            }
        }
    }
}