main {
    display: flex;
    justify-content: center;

    .blog-container {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-column-gap: 20px;
        grid-row-gap: 5px;
        justify-items: stretch;
        align-items: stretch;
        padding: 10px;
        margin-bottom: 50px;
        @media screen and (max-width: 1050px) {
            grid-template-columns: 48.5% 48.5%;
            display: grid;
            float: right;
        }

        @media screen and (max-width: 800px) {
            grid-template-columns: 100%;
            display: grid;
            float: right;
        }

        .link-wrap {
            text-decoration: none;
            color: black;
            
            .blog {
                background-color: #ffffff;
                margin-bottom: 15px;
                @media screen and (min-width: 1050px) {
                    &:hover {
                        transition: 0.5s;
                        transform: scale(1.1);
                        border: 1px solid #000000;
                    }
                }
                
                .blog-img-container {
                    background: #575757;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    
                    .blog-img {
                        width: 100%;
                        aspect-ratio: 3/2;
                        object-fit: contain;
                    }
                }
                
                .blog-text-container {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-areas:
                    "blog-title"
                    "short-description"
                    "day-added";
                
                    .blog-title {
                        display: grid;
                        grid-area: blog-title;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: capitalize;
                        height: 40px;
                        @media screen and (max-width: 350px) {
                            min-height: 60px;
                            padding-top: 10px;
                        }
                        @media screen and (max-width: 255px) {
                            min-height: 70px;
                            padding-top: 10px;
                        }
                    }
        
                    .short-description {
                        display: grid;
                        grid-area: short-description;
                        height: 55px;
                        padding: 0 10px 0 10px;
                        margin-bottom: 10px;
                        @media screen and (max-width: 277px) {
                            padding-bottom: 30px;
                        }
                    }
        
                    .day-added {
                        display: grid;
                        grid-area: day-added;
                        display: flex;
                        justify-content: right;
                        align-items: center;
                        margin-bottom: 10px;
                        padding: 0 10px 0 10px;
                        gap: 8px;
                        color: #777777;
                            i {
                                font-size: 14px;
                            }
                        @media screen and (max-width: 350px) {
                            display: flex;
                            justify-content: center;
                            padding: 20px 0 0 0;
                            
                        }
                        @media screen and (max-width: 250px) {
                            display: flex;
                            justify-content: center;
                            padding: 30px 0 0 0;
                            margin-bottom: 20px;
                        }
                        @media screen and (max-width: 237px) {
                            display: flex;
                            justify-content: center;
                            padding: 43px 0 0 0;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}