body {
  padding: 0;
  margin: 0;
}

header .nav-bar-container .nav-bar {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #585858;
}
header .nav-bar-container .nav-bar img {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 250px;
  margin-left: 11%;
  margin-top: 3%;
  padding: 10px;
}
header .nav-bar-container .nav-bar .nav-bar-top {
  display: flex;
  align-items: flex-start;
  height: 70%;
}
header .nav-bar-container .nav-bar .nav-bar-top h1 {
  margin-top: 5%;
  margin-left: 33%;
  text-transform: capitalize;
  font-size: 50px;
  color: white;
}
header .nav-bar-container .nav-bar .nav-bar-bottom {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
header .nav-bar-container .nav-bar .nav-bar-bottom a {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  padding: 10px;
}
header .nav-bar-container .nav-bar .nav-bar-bottom a:hover {
  background-color: gray;
}
header .nav-bar-container .nav-bar .nav-bar-bottom .search {
  text-transform: capitalize;
  border-bottom: 1px solid grey;
  padding: 10px;
  border: none;
  margin-bottom: 1px;
}

main {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  gap: 20px;
}
main .container {
  box-shadow: 5px 3px 30px 0.3px;
}
main .container h1 {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
main .container .blog {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
}
main .container .blog h2, main .container .blog .date {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
main .container .blog .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
main .container .blog .button-container .btn-edit, main .container .blog .button-container .btn-delete {
  border: none;
  background-color: grey;
  border-radius: 5px;
  padding: 3px;
}
main .container .blog .button-container .btn-edit a, main .container .blog .button-container .btn-delete a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}
main .container .blog .button-container .btn-edit:hover {
  background-color: #6a6aff;
}
main .container .blog .button-container .btn-delete:hover {
  background-color: #9e1c1c;
}

footer {
  background-color: gray;
  padding: 20px 0 20px 0;
}
footer .footer-container {
  display: flex;
  justify-content: center;
}
footer .footer-container .footer-bottom p {
  text-align: center;
  color: white;
}
